
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
@*<a href="~/JobSeekers/Index">jobsearch</a><br />

<a href="~/EmployeerLogin/EmployeerLogin">EmployeeLogin</a> <br />
<a href="~/JobSeakerLogin/JobSeakerLogin">Jobseekerlogin</a>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html {
            background-color:deepskyblue;
        }
    </style>

    <!-- Custom fonts for this template-->
    <link href="~/Scripts/User/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Scripts/User/sb-admin.css" rel="stylesheet">
</head>
<body class="bg">
    </body>
</html>
