
@{
    ViewBag.Title = "EmployeerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmployeerDetails</h2>

<a href="~/Employers/Index">EmployeerDetails</a>

<body style="background-color:aliceblue"></body>
