@model OnlineRecritmentSystem.Models.Firsttimeuser

@{
    ViewBag.Title = "EmployeerLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmployeerLogin</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html {
            height: 100%;
        }

        .bg {
            /* The image used */
            background-image: url('../../Image/Login.jpg');
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <!-- Custom fonts for this template-->
    <link href="~/Scripts/User/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Scripts/User/sb-admin.css" rel="stylesheet">
</head>
<body class="bg">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="UserId" class="form-control" placeholder="UserId" required="required" name="UserId" autofocus="autofocus">
                            <label for="UserId">UserId</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="Password" required="required">
                            <label for="inputPassword">Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                            </label>
                        </div>
                    </div>
                    <button class="btn-primary btn-block">Login</button>
                </form>
                <div class="text-center">
                    <a href="~/Home/Register">Register an Account</a>

                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/User/jquery.min.js"></script>
    <script src="~/Scripts/User/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/User/jquery.easing.min.js"></script>
</body>
</html>



