
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        body, html {
            height: 100%;
        }

        .bg {
            /* The image used */
            background-image: url("/Image/Welcome.jpg");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <!-- Custom fonts for this template-->
    <link href="~/Scripts/User/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Scripts/User/sb-admin.css" rel="stylesheet">
</head>
<body class="bg">
    <h2>Welcome</h2>

    <a href="https://www.tcs.com/">TCS</a><br />
    <a href="https://www.capgemini.com/us-en/">CAPGEMINI</a> <br />
    <a href="https://www.infosys.com/">INFOSYS</a>  <br />
    <a href="https://www.hcltech.com/">HCL</a>  <br />
    
    </body>