
@{
    ViewBag.Title = "Capgemini";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Capgemini</h2>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="row">
        <div>
            <label>Search by Location</label>
            <input type="text" id="location"/>
        </div>
        <div>
            <button class="btn-default" onclick="search()">Search</button>
        </div>
    </div>
    <div id="Maindiv">
        <div class="inn_div" id="hyderabad">
            <h2>Capgemini India Service Pvt Ltd.</h2>
            <h4>Dotnet with Cloud</h4>
            <h4> Urgently required of Dot Net Support Engineer at Pokhran-Thane W.</h4><br />
            <address>

                No. of requirement: 4<br />

                Position: Tech Support<br />

                Qualification: B.E/B.Tech/B.Sc. (Computers)/BCA/MCA<br />

                CTC: 5 to 6 LPA<br />
                 Location : hyderbad<br />

                PreferredJobLocation : Banglore<br />
                Looking for immediate joiners only<br />

                Work Experience:<br />

                1 to 2 years experience in implementing/supporting a Payment Domain application.
                Knowledge / working skill in MS SQL Database concepts.
                Knowledge of .net .<br />
            </address>
            <div>
                @Html.ActionLink("ApplyJob", "Create", "JobSeekers", routeValues: null, htmlAttributes: new { id = "regLink" })<br />
            </div>
        </div>
        <div class="inn_div" id="chennai">

            <h2>Tcs India Service Pvt Ltd.</h2>
            <h4>Full stack java developer</h4>
            <h4> Urgently required of Dot Net Support Engineer at Pokhran-Thane W.</h4><br />
            <address>

                No. of requirement: 10<br />

                Position: Software Developer<br />

                Qualification: B.E/B.Tech/B.Sc. (Computers)/BCA/MCA<br />

                CTC: 3 to 4 LPA<br />
                 Location : chennai<br />

                PreferredJobLocation : Banglore<br />
                Looking for immediate joiners only<br />

                Work Experience:<br />
                Location : Hyderabad
                1 to 2 years experience in implementing/supporting a Payment Domain application.
                Knowledge / working skill in MS SQL Database concepts.
                Knowledge of java .<br />
            </address>
        </div>
        <div>

            @Html.ActionLink("ApplyJob", "Create", "JobSeekers", routeValues: null, htmlAttributes: new { id = "regLink" })<br />


        </div>
        <div class="inn_div" id="pune">
            <h2>Hcl India Service Pvt Ltd.</h2>
            <h4>Dotnet with Cloud</h4>
            <h4> Urgently required of Dot Net Support Engineer at Pokhran-Thane W.</h4><br />
            <address>

                No. of requirement: 5<br />

                Position: Analyst<br />

                Qualification: B.E/B.Tech/B.Sc. (Computers)/BCA/MCA<br />

                CTC: 2 to 3 LPA<br />

                Looking for immediate joiners only<br />

                 Location : pune<br />

                PreferredJobLocation : Hyderbad<br />
                Work Experience:<br />
                Location : pune <br />
                1 to 2 years experience in implementing/supporting a Payment Domain application.
                Knowledge / working skill in MS SQL Database concepts.
                Knowledge of .net .<br />
            </address>
        </div>
        <div>

            @Html.ActionLink("ApplyJob", "Create", "JobSeekers", routeValues: null, htmlAttributes: new { id = "regLink" })<br />


        </div>
        <div class="inn_div" id="mumbai">
            <h2>Wipro India Service Pvt Ltd.</h2>
            <h4>Dotnet with Cloud</h4>
            <h4> Urgently required of Dot Net Support Engineer at Pokhran-Thane W.</h4><br />
            <address>

                No. of requirement: 4<br />

                Position:  Support Role<br />

                Qualification: B.E/B.Tech/B.Sc. (Computers)/BCA/MCA<br />

                CTC: 3 to 4 LPA<br />

                Location : mumbai<br />

                PreferredJobLocation : Banglore<br />


                Looking for immediate joiners only<br />

                Work Experience:<br />
                Location : Mumbai <br />
                1 to 2 years experience in implementing/supporting a Payment Domain application.
                Knowledge / working skill in MS SQL Database concepts.
                 .<br />
            </address>
        </div>
        <div>

            @Html.ActionLink("ApplyJob", "Create", "JobSeekers", routeValues: null, htmlAttributes: new { id = "regLink" })<br />


        </div>
    </div>
</body>
</html>

@section scripts{
    <script>
        function search() {
            var loc = document.getElementById("location").value;

            var div = document.getElementById("Maindiv").querySelectorAll("div");           
            for (i = 0; i < div.length; i++) {
                    div[i].style.display = "block";
                }
            for (i = 0; i < div.length; i++) {
                if (div[i].id != loc.toLowerCase()) {
                    div[i].style.display = "none";
                };
            }
        }
    </script>
    
    }